.imageDetail {
    margin: 5px;
    height: 250px;
    width: 250px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.imageDetail:hover {
    margin: 50px;
    transform: scale(2);
}

.imgDiv {
    display: inline-block;
}

.sampleGroup {
    color: white;
    margin: 2px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 15px;
    background-color:  rgb(102, 178, 255);
}

.sampleNutrintAgarPlates {
    color: white;
    margin: 2px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 15px;
    background-color:  rgb(102, 178, 255);
}